[submodule "kkoj-backend"]
	path = kkoj-backend
	url = git@github.com:Lhk1008611/kkoj-backend.git
[submodule "kkoj-ui"]
	path = kkoj-ui
	url = git@github.com:Lhk1008611/kkoj-ui.git
[submodule "kkoj-code-sandbox"]
	path = kkoj-code-sandbox
	url = https://github.com/Lhk1008611/kkoj-code-sandbox
